.logotext {
	margin-top:150px;
	font-size:60px;
	font-family: 'nexa_rust_sansblack';
}

.logoundertext {
	font-size:30px;
	font-family: 'nexa_rust_script_l0regular';
}

#mce-EMAIL { 
	width: 300px;
}

