

.logotext {
	margin-top:100px;
	font-size:70px;
	font-family: 'Sonsie One', serif;
	font-weight: 700;
}

.logoundertext {
	font-size:40px;
	font-family: 'Cabin Sketch';
}

.subtext {
	font-size:20px;
	font-family:'Titillium Web';
	font-weight: 200;
}

#mce-EMAIL { 
	width: 300px;
}

